<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--显示单个值的搜索-->
    <add key="showKeySearch" value="true"/>
    <!--显示加载数据按钮-->
    <add key="showLoadData" value="false"/>
    <!--显示重置iis按钮-->
    <add key="iisResert" value="true"/>
    <!--重置iis的脚本配置 start-->
    <add key="testbatname" value="testResert.bat"/>
    <add key="prebatname" value="preResert.bat"/>
    <add key="prodbatname" value="prodResert.bat"/>
    <!--重置iis的脚本配置 end-->
    <!--环境配置 start-->
    <add key="testConnection" value="192.168.1.124:6379"/>
    <add key="preConnection" value="192.168.1.125:6379"/>
    <add key="prodConnection" value="192.168.1.126:6379"/>
    <!--环境配置 end-->
    
    <!--过滤前缀 start-->
    <add key="filterPrefixs" value="AUser_"/>
    <!--过滤前缀 end-->
    
    <!--分组配置 start-->
    <add key="groupNames" value="所有,活动"/>
    <!--groupNames对应下面配置的分组key-->
    <add key="活动" value="Act_1"/>
    <!--分组配置 end-->
  </appSettings>
</configuration>